/*  * is the universal selector */
/* user agent stylesheet -> styling provided by the browser in default */
/*  margin in body set 0 to overide default gap given by browser(8px)  */
/* div are --block type elements-- -> taked width of the parent eelement  
height of these are specified by the content height  
*/
body{
    /* border:2px solid red; */
    margin : 0px;
    font-family: sans-serif;
}
.header-container{
    /* border:1px solid black; */
    height: 5.2rem;
    background-color:#333;
    display:flex;
    /* justify-content:flex-start; */
    align-items:center;
    padding-left: 3rem;
}
.header-container>*{
    background-color:#454444 ;
    height:65%;
    border-radius:6px;
}
.color-group-container{
    /* % is the relative unit used when comparision with the parent block */
    width:40%;
    margin-right: 3rem;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.color{
    height:50% ;
    width:12%;
    border-radius:4px;
}
.pink{
    background-color:lightpink;
}
.blue{
    background-color:lightblue;
}
.green{
    background-color:lightgreen;
}
.black{
    background-color:black;
}


.add-cross-container{
    width:20%;
    display:flex;
    
}
.add-cross-container>*{
    width:50%;
    height:100%;
    /* background-color:red; */
}

.plus-container,.multiply-container{
    display:flex;
    justify-content: center;
    align-items: center; 
}
.fa-plus,.fa-times{
    font-size: 2rem;
    font-weight:400;
}

.task_input{
    color:white;
}



/* icons are treated as text */
.main-container{
    /* border: 1px solid green; */
    /* vh , pw  */
    /* 100% widht of the page -> vw */
    /* 100% height of the page -> vh */
    height: calc(100vh - 3.5rem);
    background-color: #f2f2f2;
    padding:4rem;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
}


.task-container{
    /* border : 1px solid black; */
    background-color:white;
    height: 8rem;
    width:13rem;
}
.task-main-container{
padding:0.5rem;
}
.task-header{
    height:0.5rem;
    /* background-color:black; */
}

.task-id{
    color:rgb(150,144,144);
    margin:0.2rem;
    margin: left 0px;;
}

